<h1>All Possible Rewards</h1><br>
<%= link_to 'Create New Reward', new_admin_reward_path %>
<% @rewards.each do |reward| %>
  <%= link_to reward.title, reward_path(reward) %> -
  <%= reward.description %> -
  <%= link_to 'Edit', edit_admin_reward_path(reward) %> -
  <%= link_to "Delete", reward_path(reward), method: 'delete', data: {confirm: "Are you sure? This will permanently delete this reward from all associated user accounts."} %>
  <br>
<% end %>
