<!DOCTYPE html>
<html>
  <head>
    <title>PointBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <div class="topnav">
        <div class="inner-top-nav">
          <h1><%= link_to 'PointBox', user_path(current_user) %></h1>
        </div>
        <div class="inner-top-nav">
          <p><%= link_to 'See All Rewards', rewards_path %></p>
          <p><%= link_to 'Your Rewards', user_path(current_user) %></p>
          <p> <%= link_to 'Your Points History', points_path %></p>
        </div>
        <div class="right-top-nav">
            <p> Logged in as <%=link_to current_user.email, user_path(current_user) %></p>
            <p><%= link_to "Log out", logout_path, method: "delete" %></p>
          </div>

        </div>
    </div>
    <% else %>

    <div class="topnav">
      <div class="inner-top-nav">
        <h1><%= link_to 'PointBox', root_path %></h1>
      </div>
      <div class="inner-top-nav">
        <p><%= link_to 'Create New Account', new_user_path %></p>
      </div>
      <div class="right-top-nav">
          <p><%=link_to 'Log in', login_path %></p>
      </div>
    </div>
    <% end %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
    <%= yield %>
  </body>
</html>
